@font-face{
    font-family: MuseoModerno;
    src: url('../fonts/MuseoModerno.ttf');
}
@font-face{
    font-family: Qui;
    src: url('../fonts/Quiska.ttf');
}
@font-face{
    font-family: HoltwoodOneSC-Regular;
    src: url('../fonts/HoltwoodOneSC-Regular.ttf');
}
@font-face{
    font-family: BebasNeue-Regular;
    src: url('../fonts/BebasNeue-Regular.ttf');
}
